# MongoDB Atlas Connection String
# Example: mongodb+srv://<username>:<password>@cluster0.abcde.mongodb.net/libraryDB?retryWrites=true&w=majority
MONGO_URI=

# JWT Secret Token (Any random long string)
# Example: my_super_secret_production_key_99123
JWT_SECRET=

# Render Dynamic Port Configuration (Leave blank during local dev, Render assigns this automatically)
PORT=5000
